<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gala.Dolly.Test.Properties.Settings>
            <setting name="ChatBotName" serializeAs="String">
                <value>MARIA</value>
            </setting>
            <setting name="DefaultUserName" serializeAs="String">
                <value>Peanut</value>
            </setting>
            <setting name="ColorTemplateHybridResultThreshold" serializeAs="String">
                <value>25</value>
            </setting>
        </Gala.Dolly.Test.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Gala.Dolly.Test.Properties.Settings>
            <setting name="DataAccessManagerConnectionString" serializeAs="String">
                <value>..\..\..\Data\SerializedData.dat</value>
            </setting>
        </Gala.Dolly.Test.Properties.Settings>
    </applicationSettings>
</configuration>