<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gala.Dolly.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
            <setting name="ImagingSettings" serializeAs="Xml">
                <value>
                    <ImagingSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Timeout>2000</Timeout>
                        <SuppressTimeout>true</SuppressTimeout>
                        <DebugRecognitionSaveImages>true</DebugRecognitionSaveImages>
                        <ColorStatsSettings>
                            <StatisticalAnalysisTypes>Mean</StatisticalAnalysisTypes>
                        </ColorStatsSettings>
                        <MonochromeBlobFilterSettings>
                            <ContrastCorrectionFactor>0.15</ContrastCorrectionFactor>
                            <AdaptiveSmoothingFactor>0.25</AdaptiveSmoothingFactor>
                            <FrameWidth>10</FrameWidth>
                        </MonochromeBlobFilterSettings>
                        <BlobPointSettings>
                            <LineSegmentThreshold>20</LineSegmentThreshold>
                            <LineAngleThreshold>10</LineAngleThreshold>
                            <CurveAngleThreshold>27</CurveAngleThreshold>
                        </BlobPointSettings>
                        <TemplateRecognitionSettings>
                            <ColorBrightnessThreshold>5</ColorBrightnessThreshold>
                            <ColorSaturationThreshold>5</ColorSaturationThreshold>
                            <ShapeOblongThreshold>1.75</ShapeOblongThreshold>
                            <ShapeOblongRecognitionLevel>2</ShapeOblongRecognitionLevel>
                            <ShapeOblongRecognitionNormalization>true</ShapeOblongRecognitionNormalization>
                            <IdentifyShapeCertaintyMinimum>65</IdentifyShapeCertaintyMinimum>
                        </TemplateRecognitionSettings>
                    </ImagingSettings>
                </value>
            </setting>
            <setting name="DebuggerLogLevel" serializeAs="String">
                <value>Diagnostic</value>
            </setting>
            <setting name="DebuggerAlertLevel" serializeAs="String">
                <value>Message</value>
            </setting>
    </userSettings>
    <applicationSettings>
        <Gala.Dolly.Test.Properties.Settings>
            <setting name="DataAccessManagerConnectionString" serializeAs="String">
                <value>..\..\..\Data\SerializedData.dat</value>
            </setting>
        </Gala.Dolly.Test.Properties.Settings>
    </applicationSettings>
</configuration>