<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gala.Dolly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gala.Dolly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <Gala.Dolly.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChatBotName" serializeAs="String">
                <value>MARIA</value>
            </setting>
            <setting name="SpeechIsSilent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuppressAlice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressEliza" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultUserName" serializeAs="String">
                <value>Peanut</value>
            </setting>
            <setting name="TtsRate" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="TtsVolume" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="SerialOpenPortAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowShowSerialInterface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialPortDefaultDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPortDefaultBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatbotSubstitutions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>I,eye</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SerialPortDefaultInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>..\..\Log.txt</value>
            </setting>
            <setting name="VisionCapturePanMin" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="VisionCapturePanMax" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="VisionCaptureTiltMin" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="VisionCaptureTiltMax" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="SpeechRecogResumeMicInterval" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="LanguageModeChatbotOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecognitionImageSaveFolder" serializeAs="String">
                <value>..\..\..\Resources\Test Cases\Live</value>
            </setting>
            <setting name="RecognitionImageSaveImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialPortDisableWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextToSpeechDefaultVoiceIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </Gala.Dolly.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Gala.Dolly.Properties.Settings>
            <setting name="ChatbotResourcesFolder" serializeAs="String">
                <value>..\..\..\Resources\Chatbot</value>
            </setting>
            <setting name="ChatbotAliceConfigFolder" serializeAs="String">
                <value>..\..\..\Library\ChatBots\AIMLBot\ConfigurationFiles</value>
            </setting>
            <setting name="SerialPortIntervalMin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SerialPortIntervalMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SpeechRecogChatbotGrammarRuleFile" serializeAs="String">
                <value>..\..\..\Resources\SRChatbot.xml</value>
            </setting>
            <setting name="SpeechRecogEvaluateGrammarRuleFile" serializeAs="String">
                <value>..\..\..\Resources\SREvaluate.xml</value>
            </setting>
            <setting name="SpeechRecogChatbotGrammarRuleID" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpeechRecogEvaluateGrammarRuleID" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DataAccessManagerConnectionString" serializeAs="String">
                <value>..\..\..\Data\SerializedData.dat</value>
            </setting>
        </Gala.Dolly.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
